@model DocentlikPuanHesaplama.Models.Messages




<head>
    <link href="~/css/hesap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<div style="text-align: left; color:black;" class="container" id="ErrorMessage">
    @{
        if (Model.Error==true )
        {
            

            <h1 style="text-align: center; margin-top:100px;color: rgb(230, 166, 47);">Sağlanmayan Kriterler</h1>
            <center>
                <hr style="width: 500px;" />
            </center>

            foreach (var val in Model.Bolumler)
            {
                if (val.Error == true)
                {
                    <p><i style="color:  rgb(230, 166, 47);" class="fa-solid fa-star"></i> @val.ErrorMessage</p>
                    <hr style="margin-left:20px;width:500px" />
                }

            }
        }
        else
        {
            <h1 id="Tebrikler"><b>* TEBRİKLER * </b>Doçentlik Başvuru Hakkı Kazandınız . </h1>

        }
    }

</div>
<table id="customers" class="container">
    <tr>
        <th>Madde</th>
        <th>Doktora Öncesi Ham Puan</th>
        <th>Doktora Sonrası Ham Puan</th>
        <th>Toplam Puan Net Puan</th>
    </tr>

    @{
        for (int i = 0; i < Model.Colum; i++)
        {
            <tr>
                <td>@Model.Bolumler[i].BolumAdi</td>
                <td>
                   @Model.Bolumler[i].HamDoktoraOncesi
                </td>
                <td>
                    @Model.Bolumler[i].HamDoktoraSonrasi
                </td>
                <td>
                   @Model.Bolumler[i].NetPuan
                </td>
            </tr>
        }
    }


    <tr>
        <td>Toplam =</td>
        <td>
            <?= $totalOncesi ?>
        </td>
        <td>
            <?=  $totalSonrasi?>
        </td>
        <td>
            <?= $totaltoplam?>
        </td>
    </tr>
</table>